:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(187, 187, 187);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  font-weight: 500;
  color: #646CFF;
  text-decoration: inherit;
}

body {

  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(161, 165, 167);
  
  border-bottom: 2px solid citrus;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  background-color: navy;
  text-align: center;
  color: white;
  padding: 20px;
}

footer {
  background-color: navy;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

img{
  height: 500px;
  width: 500px;
  margin: 50px 600px;
  box-shadow: 0 4px 16px navy;
  

}


h3, p, .fave {
  text-align: center;
  font-size: 20px;

}








